
.sectiontitle{
    padding-left: 50px;
    padding-right: 50px;
    height: 223px;
    padding-bottom: 30px;
    padding-top: 30px;
    img{
        width: 100%;
    }
    h1{
        position: relative;
        color: white;
        left: 25%;
        top:-110px;
    }
}
