
.sectiontitle{
    
    height: 12.5rem;
	margin-top: auto;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    img{
        width: 100%;
    }
    h1{
        
        position: absolute;
        justify-content: center;
        text-align: center;
        color: white;
        
        
        
    }
}
